@font-face {
  font-family: 'SUNN';
  src: url('SUNN.eot');
  src: url('SUNN.eot?#iefix') format('embedded-opentype'),
       url('SUNN.woff2') format('woff2'),
       url('SUNN.woff') format('woff'),
       url('SUNN.ttf') format('truetype'),
       url('SUNN.svg#SUNN') format('svg');
  font-weight: normal;
  font-style: normal;
}

#container {
	width: 50%;
    max-width: 800px; 
    min-width: 350px;    
    margin-left: auto;
    margin-right: auto;
}

header {
	font-family: "SUNN", Times, serif;
	font-size: 6vw;
    text-align: center;

}

img {
	display:block;
    width: 100%;
}