@font-face {
  font-family: 'SUNN';
  src: url('SUNN.eot');
  src: url('SUNN.eot?#iefix') format('embedded-opentype'),
       url('SUNN.woff2') format('woff2'),
       url('SUNN.woff') format('woff'),
       url('SUNN.ttf') format('truetype'),
       url('SUNN.svg#SUNN') format('svg');
  font-weight: normal;
  font-style: normal;
}

